In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import random

In [4]:
#start with exodus wallet
exo = pd.read_csv("/home/simonhans/stuff/coding/crypto_dash/data/20220311_exodus.csv",
                  na_filter=False,
                  delimiter=',', quotechar='"')
#to more easily track txid extract into different datasets and merge later. 
in_idx = exo.index[exo["OUTTXID"]==""]
exo_in = exo.loc[in_idx]
exo_in = exo_in.drop("FROMPORTFOLIO", axis=1)
exo_in = exo_in.drop("TOPORTFOLIO", axis=1)
exo_in = exo_in.drop("OUTAMOUNT", axis=1)
exo_in = exo_in.drop("OUTCURRENCY", axis=1)
exo_in = exo_in.drop("OUTTXID", axis=1)
exo_in = exo_in.drop("OUTTXURL", axis=1)
exo_in = exo_in.drop("ORDERID", axis=1)
exo_in = exo_in.drop("PERSONALNOTE", axis=1)
exo_in = exo_in.drop("FEEAMOUNT", axis=1)
exo_in = exo_in.drop("FEECURRENCY", axis=1)
exo_in.rename(columns = {"INAMOUNT":"AMOUNT",
                          "INCURRENCY":"CURRENCY",
                          "TOADDRESS":"ADDRESS",
                          "INTXID":"TXID",
                          "INTXURL":"TXURL"},
           inplace = True)

out_idx = exo.index[exo["INTXID"]==""]
exo_out = exo.loc[out_idx]
exo_out = exo_out.drop("TOPORTFOLIO", axis=1)
exo_out = exo_out.drop("INAMOUNT", axis=1)
exo_out = exo_out.drop("INCURRENCY", axis=1)
exo_out = exo_out.drop("INTXID", axis=1)
exo_out = exo_out.drop("INTXURL", axis=1)
exo_out = exo_out.drop("ORDERID", axis=1)
exo_out = exo_out.drop("PERSONALNOTE", axis=1)
exo_out = exo_out.drop("FROMPORTFOLIO", axis=1)
exo_out = exo_out.drop("FEEAMOUNT", axis=1)
exo_out = exo_out.drop("FEECURRENCY", axis=1)


exo_out.rename(columns = {"OUTAMOUNT":"AMOUNT",
                          "OUTCURRENCY":"CURRENCY",
                          "TOADDRESS":"ADDRESS",
                          "OUTTXID":"TXID",
                          "OUTTXURL":"TXURL"},
           inplace = True)

fee_idx = exo.index[exo["FEEAMOUNT"] !=""]
exo_fee = exo.loc[fee_idx]
exo_fee = exo_fee.drop("FROMPORTFOLIO",axis=1)
exo_fee = exo_fee.drop("TOPORTFOLIO",axis=1)
exo_fee = exo_fee.drop("INAMOUNT",axis=1)
exo_fee = exo_fee.drop("INCURRENCY",axis=1)
exo_fee = exo_fee.drop("INTXID",axis=1)
exo_fee = exo_fee.drop("INTXURL",axis=1)
exo_fee = exo_fee.drop("ORDERID",axis=1)
exo_fee = exo_fee.drop("PERSONALNOTE",axis=1)
exo_fee = exo_fee.drop("OUTAMOUNT",axis=1)
exo_fee = exo_fee.drop("OUTCURRENCY",axis=1)
exo_fee = exo_fee.drop("TYPE",axis=1)
exo_fee["TYPE"]="fee"
exo_fee.rename(columns = {"FEEAMOUNT":"AMOUNT",
                          "FEECURRENCY":"CURRENCY",
                          "TOADDRESS":"ADDRESS",
                          "OUTTXID":"TXID",
                          "OUTTXURL":"TXURL"},
           inplace = True)

exodus = pd.concat([exo_in,exo_out,exo_fee],ignore_index=True)
# exo_test["DATE"] = pd.to_datetime(exo_test["DATE"])

#data scrambler
for i in exodus["AMOUNT"]:
    q = exodus.index[exodus["AMOUNT"] == i]    
    exodus["AMOUNT"].loc[q] = (float(i) * random.random())
    
#remove first four characters from date
exodus["DATE"] = exodus["DATE"].str[4:]
#remove last n characters from date
exodus["DATE"] = exodus["DATE"].str[:-33]   
exodus["DATE"] = pd.to_datetime(exodus["DATE"])

# exodus
#exodus balances
variable_list = exodus["CURRENCY"].unique()
for variable_name in variable_list:
    balance = exodus.loc[exodus["CURRENCY"] == variable_name, "AMOUNT"].astype(float).sum()
#     print(variable_name)
#     print(balance)
# exodus

In [5]:
# EXCHANGE INFO

In [6]:
blockfi_raw = pd.read_csv("~/stuff/coding/crypto_dash/data/20220311_blockfi.csv")
cbp_acct_raw = pd.read_csv("~/stuff/coding/crypto_dash/data/20220311_cbp_account.csv")
nexo_raw = pd.read_csv("~/stuff/coding/crypto_dash/data/20220311_nexo.csv")

In [7]:
cbp_fills_raw = pd.read_csv("~/stuff/coding/crypto_dash/data/20220311_cbp_fills.csv")

cbp = pd.DataFrame(cbp_fills_raw)
cbp.rename(columns = {"side":"TYPE",
                      "created at":"DATE",
                      "size":"AMOUNT",
                      "size unit":"CURRENCY",
                      "price":"PRICE",
                      "total":"TOTAL",
                      "fee":"FEE"
                      },
           inplace = True)

cbp["DATE"] = pd.to_datetime(cbp["DATE"])
for i in cbp["AMOUNT"]:
    q = cbp.index[cbp["AMOUNT"] == i]    
    cbp["AMOUNT"].loc[q] = (float(i) * random.random())
    cbp["TOTAL"] = (cbp["AMOUNT"] * cbp["PRICE"]) + (0.015 * (cbp["AMOUNT"] * cbp["PRICE"]))
    


cbp = cbp.drop("portfolio",axis = 1)
cbp = cbp.drop("trade id",axis = 1)
cbp = cbp.drop("product",axis = 1)
cbp = cbp.drop("price/fee/total unit",axis = 1)
cbp = cbp.drop("FEE",axis = 1)
cbp["ACCOUNT"] = "CBP"
# cbp.sort_values(by="DATE")

/home/simonhans/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [48]:
swan_raw = pd.read_csv("~/stuff/coding/crypto_dash/data/20220313_swan_dep_purch.csv")

idx = swan_raw.index[swan_raw["Event"]=="purchase"]
swan = swan_raw.loc[idx]
swan.rename(columns = {"Event":"TYPE",
                       "Date":"DATE",
                       "Unit Count":"AMOUNT",
                       "Asset Type":"CURRENCY",
                       "BTC Price":"PRICE",
                       "Fee USD":"FEE",
                      },
           inplace = True)

swan["TYPE"] = "BUY"
for i in swan["AMOUNT"]:
#     print(i)
    q = swan.index[swan["AMOUNT"] == i]
    swan["AMOUNT"].loc[q] = (float(i) * random.random())
    swan["TOTAL"] = swan["AMOUNT"] * swan["PRICE"]
    
swan = swan.drop("Timezone",axis = 1)
swan = swan.drop("Status",axis = 1)
swan = swan.drop("USD",axis = 1)
swan = swan.drop("FEE",axis = 1)
swan["ACCOUNT"] = "Swan"
swan["DATE"] = pd.to_datetime(swan["DATE"])
# swan.sort_values(by="DATE")

In [47]:
bittrex_21_raw  = pd.read_csv("~/stuff/coding/crypto_dash/data/2021_bittrex.csv")
bitt = bittrex_21_raw
bitt["Exchange"] = bitt["Exchange"].str[4:]
bitt = bitt.drop("Uuid",axis=1)
bitt = bitt.drop("OrderType",axis=1)
bitt = bitt.drop("QuantityRemaining",axis=1)
bitt = bitt.drop("Commission",axis=1)
bitt = bitt.drop("IsConditional",axis=1)
bitt = bitt.drop("Condition",axis=1)
bitt = bitt.drop("ConditionTarget",axis=1)
bitt = bitt.drop("ImmediateOrCancel",axis=1)
bitt = bitt.drop("Closed",axis=1)
bitt = bitt.drop("TimeInForceTypeId",axis=1)
bitt = bitt.drop("TimeInForce",axis=1)
bitt = bitt.drop("Limit",axis=1)

bitt.rename(columns = {"Exchange":"CURRENCY",
                       "TimeStamp":"DATE",
                       "Quantity":"AMOUNT",
                       "Price":"TOTAL",
                       "PricePerUnit":"PRICE"},
            inplace = True)

for i in bitt["AMOUNT"]:
#     print(i)
    q = bitt.index[bitt["AMOUNT"] == i]
    bitt["AMOUNT"].loc[q] = (float(i) * random.random())
    bitt["TOTAL"] = bitt["AMOUNT"] * bitt["PRICE"]

bitt["ACCOUNT"] = "Bittrex"
bitt["TYPE"] = "BUY"
bitt["DATE"] = pd.to_datetime(bitt["DATE"],utc=True)
# bitt.sort_values(by="DATE")

/home/simonhans/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [68]:
uphold_raw = pd.read_csv("~/stuff/coding/crypto_dash/data/20220311_uphold.csv")
uphold = uphold_raw
uphold = uphold.drop("Id",axis=1)
uphold = uphold.drop("Type",axis=1)
uphold = uphold.drop("Status",axis=1)
# uphold = uphold.drop("Commission",axis=1)
# uphold = uphold.drop("IsConditional",axis=1)
# uphold = uphold.drop("Condition",axis=1)
# uphold = uphold.drop("ConditionTarget",axis=1)
# uphold = uphold.drop("ImmediateOrCancel",axis=1)
# uphold = uphold.drop("Closed",axis=1)
# uphold = uphold.drop("TimeInForceTypeId",axis=1)
# uphold = uphold.drop("TimeInForce",axis=1)
# uphold = uphold.drop("Limit",axis=1)

uphold.rename(columns = {"Date":"DATE",
                       "Destination":"TYPE",
#                        "Quantity":"AMOUNT",
#                        "Price":"TOTAL",
#                        "PricePerUnit":"PRICE"
                      },
            inplace = True)

idx_fee = uphold.index[uphold["Fee Amount"].is]

uphold["ACCOUNT"] = "Uphold"
uphold["DATE"] = pd.to_datetime(uphold["DATE"],utc=True)
uphold.sort_values(by="DATE", ascending=True)

,DATE,TYPE,Destination Amount,Destination Currency,Fee Amount,Fee Currency,Origin,Origin Amount,Origin Currency,ACCOUNT
25,2020-10-14 16:47:29+00:00,uphold,90.930461,BAT,1.808408,BAT,bank,20.000000,USD,Uphold
24,2020-10-20 19:29:16+00:00,uphold,188.393916,BAT,NaN,NaN,ethereum,188.393916,BAT,Uphold
23,2020-10-20 19:32:08+00:00,uphold,147.897764,BAT,NaN,NaN,ethereum,147.897764,BAT,Uphold
22,2020-10-21 02:41:49+00:00,uphold,0.004110,BTC,NaN,NaN,bank,50.000000,USD,Uphold
21,2020-11-07 04:16:45+00:00,uphold,2.335000,BAT,NaN,NaN,uphold,2.335000,BAT,Uphold
20,2020-11-07 06:42:23+00:00,uphold,3.460000,BAT,NaN,NaN,uphold,3.460000,BAT,Uphold
19,2020-12-07 17:40:35+00:00,uphold,1.290000,BAT,NaN,NaN,uphold,1.290000,BAT,Uphold
18,2020-12-07 18:05:38+00:00,uphold,4.460000,BAT,NaN,NaN,uphold,4.460000,BAT,Uphold
17,2021-01-08 12:59:12+00:00,uphold,3.030000,BAT,NaN,NaN,uphold,3.030000,BAT,Uphold
16,2021-01-09 02:30:33+00:00,uphold,6.175000,BAT,NaN,NaN,uphold,6.175000,BAT,Uphold
15,2021-02-09 08:22:35+00:00,uphold,1.370000,BAT,NaN,NaN,uphold,1.370000,BAT,Uphold
14,2021-02-09 09:28:40+00:00,uphold,2.715000,BAT,NaN,NaN,uphold,2.715000,BAT,Uphold
13,2021-03-05 20:57:17+00:00,uphold,0.805000,BAT,NaN,NaN,uphold,0.805000,BAT,Uphold
12,2021-03-09 03:43:14+00:00,uphold,2.490000,BAT,NaN,NaN,uphold,2.490000,BAT,Uphold
11,2021-04-07 19:34:17+00:00,uphold,2.270000,BAT,NaN,NaN,uphold,2.270000,BAT,Uphold
10,2021-04-08 11:52:18+00:00,uphold,1.450000,BAT,NaN,NaN,uphold,1.450000,BAT,Uphold
9,2021-05-09 19:35:05+00:00,uphold,0.610000,BAT,NaN,NaN,uphold,0.610000,BAT,Uphold
8,2021-05-10 07:38:25+00:00,uphold,0.275000,BAT,NaN,NaN,uphold,0.275000,BAT,Uphold
7,2021-05-10 21:59:42+00:00,uphold,0.380000,BAT,NaN,NaN,uphold,0.380000,BAT,Uphold
6,2021-05-11 02:31:47+00:00,uphold,0.250000,BAT,NaN,NaN,uphold,0.250000,BAT,Uphold
5,2021-06-10 14:11:43+00:00,uphold,1.138425,BAT,NaN,NaN,uphold,1.138425,BAT,Uphold
4,2021-06-10 14:29:43+00:00,uphold,0.277267,BAT,NaN,NaN,uphold,0.277267,BAT,Uphold
3,2021-07-09 01:13:37+00:00,uphold,0.303724,BAT,NaN,NaN,uphold,0.303724,BAT,Uphold
2,2021-07-14 00:54:53+00:00,uphold,1.000000,BAT,NaN,NaN,uphold,1.000000,BAT,Uphold
1,2022-01-12 21:30:58+00:00,bank,179.130000,USD,NaN,NaN,uphold,0.004110,BTC,Uphold
0,2022-01-12 21:31:32+00:00,bank,503.350000,USD,NaN,NaN,uphold,461.306557,BAT,Uphold

In [46]:
trades = pd.concat([cbp,swan,bitt])
trades["DATE"] = pd.to_datetime(trades["DATE"])
trades.sort_values(by="DATE")

,TYPE,DATE,AMOUNT,CURRENCY,PRICE,TOTAL,ACCOUNT
11,BUY,2020-09-10 17:39:33.526000+00:00,0.000538,BTC,10376.57,5.669399,CBP
45,BUY,2020-09-11 17:18:19.530000+00:00,0.000198,BTC,10280.00,2.068041,CBP
36,BUY,2020-09-11 17:18:27.940000+00:00,0.013650,ETH,365.50,5.064077,CBP
12,BUY,2020-09-11 18:08:08.061000+00:00,0.007197,BTC,10311.49,75.321400,CBP
37,SELL,2020-09-12 20:27:29.163000+00:00,0.038818,ETH,384.66,15.155853,CBP
...,...,...,...,...,...,...,...
72,SELL,2022-03-02 04:15:05.228000+00:00,0.000032,ETH,3023.87,0.099635,CBP
74,SELL,2022-03-02 04:15:05.228000+00:00,0.022516,ETH,3023.73,69.102351,CBP
75,SELL,2022-03-02 04:15:05.228000+00:00,0.299220,ETH,3023.61,918.295416,CBP
71,SELL,2022-03-02 04:15:05.228000+00:00,0.000032,ETH,3023.87,0.099635,CBP
73,SELL,2022-03-02 04:15:05.228000+00:00,0.000535,ETH,3023.73,1.641440,CBP