In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import random

In [2]:
#start with exodus wallet
exo = pd.read_csv("/home/simonhans/stuff/coding/crypto_dash/data/20220311_exodus.csv",
                  na_filter=False,
                  delimiter=',', quotechar='"')
#to more easily track txid extract into different datasets and merge later. 
in_idx = exo.index[exo["OUTTXID"]==""]
exo_in = exo.loc[in_idx]
exo_in = exo_in.drop("FROMPORTFOLIO", axis=1)
exo_in = exo_in.drop("TOPORTFOLIO", axis=1)
exo_in = exo_in.drop("OUTAMOUNT", axis=1)
exo_in = exo_in.drop("OUTCURRENCY", axis=1)
exo_in = exo_in.drop("OUTTXID", axis=1)
exo_in = exo_in.drop("OUTTXURL", axis=1)
exo_in = exo_in.drop("ORDERID", axis=1)
exo_in = exo_in.drop("PERSONALNOTE", axis=1)
exo_in = exo_in.drop("FEEAMOUNT", axis=1)
exo_in = exo_in.drop("FEECURRENCY", axis=1)
exo_in.rename(columns = {"INAMOUNT":"AMOUNT",
                          "INCURRENCY":"CURRENCY",
                          "TOADDRESS":"ADDRESS",
                          "INTXID":"TXID",
                          "INTXURL":"TXURL"},
           inplace = True)

out_idx = exo.index[exo["INTXID"]==""]
exo_out = exo.loc[out_idx]
exo_out = exo_out.drop("TOPORTFOLIO", axis=1)
exo_out = exo_out.drop("INAMOUNT", axis=1)
exo_out = exo_out.drop("INCURRENCY", axis=1)
exo_out = exo_out.drop("INTXID", axis=1)
exo_out = exo_out.drop("INTXURL", axis=1)
exo_out = exo_out.drop("ORDERID", axis=1)
exo_out = exo_out.drop("PERSONALNOTE", axis=1)
exo_out = exo_out.drop("FROMPORTFOLIO", axis=1)
exo_out = exo_out.drop("FEEAMOUNT", axis=1)
exo_out = exo_out.drop("FEECURRENCY", axis=1)


exo_out.rename(columns = {"OUTAMOUNT":"AMOUNT",
                          "OUTCURRENCY":"CURRENCY",
                          "TOADDRESS":"ADDRESS",
                          "OUTTXID":"TXID",
                          "OUTTXURL":"TXURL"},
           inplace = True)

fee_idx = exo.index[exo["FEEAMOUNT"] !=""]
exo_fee = exo.loc[fee_idx]
exo_fee = exo_fee.drop("FROMPORTFOLIO",axis=1)
exo_fee = exo_fee.drop("TOPORTFOLIO",axis=1)
exo_fee = exo_fee.drop("INAMOUNT",axis=1)
exo_fee = exo_fee.drop("INCURRENCY",axis=1)
exo_fee = exo_fee.drop("INTXID",axis=1)
exo_fee = exo_fee.drop("INTXURL",axis=1)
exo_fee = exo_fee.drop("ORDERID",axis=1)
exo_fee = exo_fee.drop("PERSONALNOTE",axis=1)
exo_fee = exo_fee.drop("OUTAMOUNT",axis=1)
exo_fee = exo_fee.drop("OUTCURRENCY",axis=1)
exo_fee = exo_fee.drop("TYPE",axis=1)
exo_fee["TYPE"]="fee"
exo_fee.rename(columns = {"FEEAMOUNT":"AMOUNT",
                          "FEECURRENCY":"CURRENCY",
                          "TOADDRESS":"ADDRESS",
                          "OUTTXID":"TXID",
                          "OUTTXURL":"TXURL"},
           inplace = True)

exodus = pd.concat([exo_in,exo_out,exo_fee],ignore_index=True)
# exo_test["DATE"] = pd.to_datetime(exo_test["DATE"])

#data scrambler
for i in exodus["AMOUNT"]:
    q = exodus.index[exodus["AMOUNT"] == i]    
    exodus["AMOUNT"].loc[q] = (float(i) * random.random())
    
#remove first four characters from date
exodus["DATE"] = exodus["DATE"].str[4:]
#remove last n characters from date
exodus["DATE"] = exodus["DATE"].str[:-33]   
exodus["DATE"] = pd.to_datetime(exodus["DATE"])

# exodus
#exodus balances
variable_list = exodus["CURRENCY"].unique()
for variable_name in variable_list:
    balance = exodus.loc[exodus["CURRENCY"] == variable_name, "AMOUNT"].astype(float).sum()
#     print(variable_name)
#     print(balance)
# exodus

In [3]:
# EXCHANGE INFO

In [4]:
bittrex_21_raw  = pd.read_csv("~/stuff/coding/crypto_dash/data/2021_bittrex.csv")
blockfi_raw = pd.read_csv("~/stuff/coding/crypto_dash/data/20220311_blockfi.csv")
cbp_acct_raw = pd.read_csv("~/stuff/coding/crypto_dash/data/20220311_cbp_account.csv")
nexo_raw = pd.read_csv("~/stuff/coding/crypto_dash/data/20220311_nexo.csv")
uphold_raw = pd.read_csv("~/stuff/coding/crypto_dash/data/20220311_uphold.csv")

In [5]:
cbp_fills_raw = pd.read_csv("~/stuff/coding/crypto_dash/data/20220311_cbp_fills.csv")

cbp = pd.DataFrame(cbp_fills_raw)
cbp.rename(columns = {"side":"TYPE",
                      "created at":"DATE",
                      "size":"AMOUNT",
                      "size unit":"CURRENCY",
                      "price":"PRICE",
                      "total":"TOTAL",
                      "fee":"FEE"
                      },
           inplace = True)

cbp["DATE"] = pd.to_datetime(cbp["DATE"])
for i in cbp["AMOUNT"]:
    q = cbp.index[cbp["AMOUNT"] == i]    
    cbp["AMOUNT"].loc[q] = (float(i) * random.random())
    cbp["TOTAL"] = (cbp["AMOUNT"] * cbp["PRICE"]) + (0.015 * (cbp["AMOUNT"] * cbp["PRICE"]))
    


cbp = cbp.drop("portfolio",axis = 1)
cbp = cbp.drop("trade id",axis = 1)
cbp = cbp.drop("product",axis = 1)
cbp = cbp.drop("price/fee/total unit",axis = 1)
cbp = cbp.drop("FEE",axis = 1)
cbp["ACCOUNT"] = "CBP"
# cbp.sort_values(by="DATE")

/home/simonhans/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [6]:
swan_raw = pd.read_csv("~/stuff/coding/crypto_dash/data/20220313_swan_dep_purch.csv")

idx = swan_raw.index[swan_raw["Event"]=="purchase"]
swan = swan_raw.loc[idx]
swan.rename(columns = {"Event":"TYPE",
                       "Date":"DATE",
                       "Unit Count":"AMOUNT",
                       "Asset Type":"CURRENCY",
                       "BTC Price":"PRICE",
                       "Fee USD":"FEE",
#                        "USD":"TOTAL"
                      },
           inplace = True)

swan["DATE"] = pd.to_datetime(swan["DATE"])
swan["TYPE"] = "BUY"
for i in swan["AMOUNT"]:
#     print(i)
    q = swan.index[swan["AMOUNT"] == i]
    swan["AMOUNT"].loc[q] = (float(i) * random.random())
    swan["TOTAL"] = swan["AMOUNT"] * swan["PRICE"]
    
swan = swan.drop("Timezone",axis = 1)
swan = swan.drop("Status",axis = 1)
swan = swan.drop("USD",axis = 1)
swan = swan.drop("FEE",axis = 1)

swan["ACCOUNT"] = "Swan"

# swan

In [7]:
trades = pd.concat([cbp,swan])
trades["DATE"] = pd.to_datetime(trades["DATE"])
trades.sort_values(by="DATE")

,TYPE,DATE,AMOUNT,CURRENCY,PRICE,TOTAL,ACCOUNT
11,BUY,2020-09-10 17:39:33.526000+00:00,0.002061,BTC,10376.57,21.707427,CBP
45,BUY,2020-09-11 17:18:19.530000+00:00,0.000974,BTC,10280.00,10.161153,CBP
36,BUY,2020-09-11 17:18:27.940000+00:00,0.028273,ETH,365.50,10.488871,CBP
12,BUY,2020-09-11 18:08:08.061000+00:00,0.003177,BTC,10311.49,33.246659,CBP
37,SELL,2020-09-12 20:27:29.163000+00:00,0.055081,ETH,384.66,21.505396,CBP
...,...,...,...,...,...,...,...
75,SELL,2022-03-02 04:15:05.228000+00:00,0.037675,ETH,3023.61,115.621693,CBP
74,SELL,2022-03-02 04:15:05.228000+00:00,0.021495,ETH,3023.73,65.970241,CBP
73,SELL,2022-03-02 04:15:05.228000+00:00,0.000407,ETH,3023.73,1.247731,CBP
72,SELL,2022-03-02 04:15:05.228000+00:00,0.000330,ETH,3023.87,1.011823,CBP
71,SELL,2022-03-02 04:15:05.228000+00:00,0.000330,ETH,3023.87,1.011823,CBP